.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(30, 30, 30, 0.5);
	backdrop-filter: blur(8px);
	z-index: 3;
}

.logo {
	padding: 16px 30px;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 2px;
}

.links {
	display: flex;
	flex-direction: row;
	margin-right: 5%;
}

.link {
	color: #fff;
	margin: 0 16px;
	text-decoration: none;
	font-weight: 500;
	transition: color 0.2s;
}

.link:hover {
	color: #ff7e5f;
}

.lang-switcher {
	display: flex;
	gap: 8px;
	margin-left: 30px;
}

.lang-switcher button {
	background: none;
	border: none;
	color: #fff;
	font-weight: 600;
	font-size: 0.6rem;
	cursor: pointer;
	padding: 0px 5px;
	margin: 0px;
	border-radius: 6px;
	transition: background 0.2s, color 0.2s;
}

.lang-switcher button.active,
.lang-switcher button:hover {
	background: #ff7e5f;
	color: #23272f;
}
