.navbar {
	position: fixed;
	top: 0;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(30, 30, 30, 0.5);
	backdrop-filter: blur(8px);
	z-index: 3;
}

.logo {
	height: 40px;
	padding: 16px 30px;
}

.links {
	display: flex;
	flex-direction: row;
	margin-right: 5%;
}

.link {
	color: #fff;
	margin: 0 16px;
	text-decoration: none;
	font-weight: 500;
	transition: color 0.2s;
}

.link:hover {
	color: #ff7e5f;
}

.lang-switcher {
	display: flex;
	gap: 8px;
	margin-left: 30px;
}

.lang-switcher button {
	background: none;
	border: none;
	color: #fff;
	font-weight: 600;
	font-size: 0.6rem;
	cursor: pointer;
	padding: 0px 5px;
	margin: 0px;
	border-radius: 6px;
	transition: background 0.2s, color 0.2s;
}

.lang-switcher button.active,
.lang-switcher button:hover {
	background: #ff7e5f;
	color: #23272f;
}


.hamburger {
	display: none;
	flex-direction: column;
	gap: 4px;
	background: none;
	border: none;
	cursor: pointer;
	padding: 12px;
}

.hamburger span {
	display: block;
	width: 28px;
	height: 3px;
	background: #fff;
	border-radius: 2px;
	transition: all 0.3s;
}

/* Responsive styles */
@media (max-width: 768px) {
	.links {
		position: absolute;
		top: 70px;
		right: -100vw;
		flex-direction: column;
		background: #23272f;
		width: 100vw;
		padding: 32px 0;
		gap: 32px;
		align-items: center;
		transition: right 0.3s;
		z-index: 9;
		margin: 0%;
	}

	.links.open {
		right: 0px;
	}

	.hamburger {
		display: flex;
	}

	.lang-switcher {
		margin-left: 0px;
	}

	.lang-switcher button {
		padding: 5px 10px;
	}
}